[2017-08-22 06:46] Insti opened #1 "Ruby icon orientation."
Traditionally the ruby Icon is tilted but the Exercism version is vertical.
Could we try rotating the ruby in the icon counter clockwise?
(Maybe 60 degrees? but I'm not a designer.)

[2017-08-24 18:07] iHiD commented on #1
This sounds sensible.

For reference. http://downloadicons.net/sites/default/files/ruby-icon-6555.png

[2017-08-24 19:22] Insti commented on #1
And the legacy Exercism ruby logo: https://github.com/exercism/ruby/blob/master/img/icon.png

[2017-09-03 21:21] kytrinyx opened #2 "Lisp Flavoured Erlang icon"
One thing that I noticed is that the LFE icon doesn't have the characteristic "lambda" floating on the coffee.

The key thing about LFE is that it's a combination of Erlang https://v2.exercism.io/tracks/erlang and Lisp

I wonder if the coffee thing has too much detail. Maybe we could do a combination of the lambda and the erlang E instead?

[2017-09-09 20:24] budmc29 opened #3 "Bash icon"
To have Bash a proper track for V2 we require an icon for it.

Does the language have an official logo?
  - Link: [https://tiswww.case.edu/php/chet/img/bash-logo-web.png](https://tiswww.case.edu/php/chet/img/bash-logo-web.png)
   - Logo licence: [Free Art License](http://artlibre.org/licence/lal/en/)

Official website: [https://tiswww.case.edu/php/chet/bash/bashtop.html](https://tiswww.case.edu/ph

[2017-09-11 15:36] iHiD commented on #3
I think @nicolechalmers actually made one of these when she made the others. I'll check with her :)

[2018-01-07 01:00] budmc29 commented on #3
@iHiD any updates on this?

[2018-01-23 23:00] budmc29 commented on #3
A small reminder.

[2018-01-25 14:45] iHiD commented on #3
Totally - we can do this for v2 launch :) We just need to get to v2 launch :S

[2018-07-20 11:46] iHiD opened #5 "ReasonML needs a logo"
The ReasonML track is just about ready to launch.

https://github.com/exercism/request-new-language-track/issues/41

The official logo appears to be
https://reasonml.github.io/img/reason.svg

[2018-07-20 11:47] iHiD opened #6 "Perfect numbers exercise icon has less contrast than other icons"
See information here: https://github.com/exercism/exercism.io/issues/4018

[2018-07-20 11:48] iHiD commented on #2
This has been done.

[2018-07-20 11:48] #2 closed

[2018-07-20 11:48] iHiD commented on #3
This has been done. Thanks :)

[2018-07-20 11:48] #3 closed

[2018-07-20 16:09] rpottsoh opened #7 "When submitting a new exercise should a glyph for the exercise also be included?"
@rpottsoh commented on [Thu Jul 19 2018](https://github.com/exercism/problem-specifications/issues/1268)

@kytrinyx or @iHid,

I think this issue has not been raised.  I know, right now, the development team is taking care of glyphs for the exercises.  Is there a mechanism in place (or planned) to help take care of implementing icons for new exercises as they are added to this repo?

---

@rpottso

[2018-07-20 16:09] rpottsoh commented on #7
@iHiD and @nicolechalmers    For your consideration.

[2018-07-21 21:05] iHiD opened #8 "The Nim icon is a bit big"
It seems to have outgrown its surroundings :)

https://exercism.io/my/tracks/nim

[2018-07-21 21:09] iHiD commented on #7
Sorry, @rpottsoh I wasn't clear.

What I meant was when a new exercises is added to specifications, a new issue should be opened here to inform the design team that a new icon needs designing. Any suggestions or examples in that issue will be appreciated too :)

[2018-07-21 21:14] rpottsoh commented on #7
Lol.  That makes sense too.  No harm no foul.

[2018-07-21 21:14] #7 closed

[2018-07-22 13:36] nicolechalmers commented on #8
@iHiD This should be better.

Turquoise:
![nim-t](https://user-images.githubusercontent.com/5421823/43046097-ecbc0fd8-8dc4-11e8-90d8-16ebadf2cdd9.png)

White:
![nim-w](https://user-images.githubusercontent.com/5421823/43046098-ecea7d3c-8dc4-11e8-959a-b94adf262795.png)

[2018-07-22 13:38] iHiD commented on #8
Thanks. @ccare can you action this when you're next on pls?

[2018-07-22 19:52] nicolechalmers commented on #5
@iHiD Here's the logo in turquoise and white.

![reason-t](https://user-images.githubusercontent.com/5421823/43049519-791bd6fa-8df9-11e8-8aa9-b9baca1cef59.png)
![reason-w](https://user-images.githubusercontent.com/5421823/43049521-7ade7f38-8df9-11e8-9970-812ced889be9.png)

[2018-07-23 08:59] ccare commented on #5
Hi, sorry, but I need them in the same format as the 'logos/' folder. They seem to be about 230 px wide and on transparent. E.g. for Bash

https://github.com/exercism/website-icons/blob/master/tracks/logos/bash-t.png
https://github.com/exercism/website-icons/blob/master/tracks/logos/bash.png

Those ones did some weird things. e.g
<img width="406" alt="screen shot 2018-07-23 at 09 59 18" src="https

[2018-07-23 18:04] ccare commented on #5
@nicolechalmers , sorry. I think I need turquoise on transparent, and white on transparent. No backgrounds.

[2018-07-24 10:36] nicolechalmers commented on #5
@ccare The square around the "RE" is part of the design like https://github.com/exercism/website-icons/blob/master/tracks/logos/javascript-t.png. Is that want you mean?

[2018-07-24 10:50] iHiD commented on #5
@ccare I think the ones above are correct.

[2018-07-26 19:38] kytrinyx opened #9 "Pharo needs a logo"
The official language site is here:
https://pharo.org/

The track maintainers made a bit of a suggestion here: https://github.com/exercism/pharo/blob/ccf02659a88c8c32e0040fab4a82e1ea478adcce/img/icon.png

[2018-07-26 20:50] kytrinyx opened #10 "Ballerina needs a logo"
The Ballerina track needs a logo.

The official logo is on https://ballerina.io/ and the short version is just the ballet shoes (seen on twitter at https://twitter.com/ballerinalang)

The maintainers of the Ballerina track are also the developers of the language (in case you have questions).

[2018-08-09 22:26] macta commented on #9
Any view on how long it takes to get this moved forward?

[2018-08-13 11:18] iHiD commented on #9
It'll get done before Pharo is ready to go live. Do we have a timescale on that?

[2018-08-13 11:27] nicolechalmers commented on #8
Let's try these. They're 214 pixels wide which is the same as ReasonML.

turquoise:
![nim-t](https://user-images.githubusercontent.com/5421823/44029126-1b237ce0-9ef4-11e8-892d-18ef2caa46a3.png)
white:
![nim](https://user-images.githubusercontent.com/5421823/44029128-1b8743e2-9ef4-11e8-8ca7-98b532eba3a8.png)

[2018-08-13 12:18] iHiD commented on #5
Deployed.

[2018-08-13 12:18] #5 closed

[2018-08-13 12:18] iHiD commented on #6
Deployed.

[2018-08-13 12:18] #6 closed

[2018-08-13 12:18] iHiD commented on #8
Deployed.

[2018-08-13 12:18] #8 closed

[2018-09-07 12:36] bencoman commented on #9
btw, if a vector format is needed, some available [here](http://files.pharo.org/media/logo/). I don't remember which one I worked off to derive the one proposed above.

[2018-09-12 17:12] PatrickMcSweeny opened #11 "Go logo is out of date"
This issue was originally raised in exercism/go#1154 but it seems like it makes sense to open an issue here. According to Go's [official branding page](https://blog.golang.org/go-brand), the Go logos used currently are out of date.

[2018-10-09 15:30] ErikSchierboom opened #12 "REST-api exercise has no icon"
![46675039-e2ea0a80-cbdd-11e8-93a9-a3543f85300b](https://user-images.githubusercontent.com/135246/46680264-fc448400-cbe8-11e8-8543-e954b77de8f4.png)

[2018-10-09 15:42] rpottsoh commented on #12
[description.md](https://github.com/exercism/problem-specifications/blob/master/exercises/rest-api/description.md), in case the artist needs some inspiration.... :smile:

[2018-10-09 21:39] ramadis opened #13 ""Darts" exercise needs a logo"
## Description

Write a function that returns the earned points in a Darts game.

## Goal
Write a function that given a point in the target (defined by its `real` cartesian coordinates `x` and `y`), returns the correct amount earned by a dart landing in that point.

## Related pull request
https://github.com/exercism/problem-specifications/pull/1363

[2018-10-16 14:46] ramadis commented on #13
Just a quick update: The PR was already approved!

[2018-10-22 23:51] F3PiX opened #14 "Missing icon Affine Cipher"
In the Ruby track, there's an empty block where the Affine Cipher icon is supposed to be. Looks like it's missing in this repo.

[2018-10-24 11:18] F3PiX opened #15 "Icon needed for new exercise HighScore"
@pgaspar and I worked on a new exercise High Scores:  about a high score list, like for a computer game.

For inspiration: The exercise is about a player's personal bests. It's also said to be a tribute to the 80's arcade game [Frogger](https://www.youtube.com/watch?v=u23kf-XBack).  🐸 :-)

https://github.com/exercism/problem-specifications/pull/1378

[2018-11-02 11:34] kytrinyx commented on #10
@iHiD @nicolechalmers It looks like @github/ballerina is getting ready to launch. Is there any chance of getting their icon done soon-ish?

[2018-11-03 19:53] iHiD commented on #10
Yes :) (cc @nicolechalmers)

[2018-11-08 16:28] #10 closed

[2018-11-08 16:28] #12 closed

[2018-11-08 16:28] #13 closed

[2018-11-09 12:39] #14 closed

[2018-11-09 14:02] nicolechalmers commented on #11
Thanks for highlighting this @PatrickMcSweeny

Here's the new one for when we decide to update it across the site.

![go-t](https://user-images.githubusercontent.com/5421823/48266612-cb45b200-e427-11e8-86bb-c4a2c79a988d.png)
(white logo is below here)
![go](https://user-images.githubusercontent.com/5421823/48266613-cb45b200-e427-11e8-98af-2b1c9312d5c3.png)

@iHiD So we don't lose the effect, we co

[2018-11-09 14:40] F3PiX commented on #14
Thank you!!! 🎈

[2018-11-09 15:14] iHiD commented on #11
That's a good solution. Thanks @nicolechalmers.

[2018-11-09 15:14] #15 closed

[2018-11-09 21:57] F3PiX commented on #15
I like the froggie!  Thanks!

[2018-11-14 09:31] petertseng opened #20 "ceylon.png should be changed to the Ceylon logo (not Nim's) and then regenerating its track-images"
As we can see at https://ceylon-lang.org/blog/2013/12/13/three-legged-elephants/, Ceylon's mascot (and thus its logo) is an elephant.

Thus, I suggest that https://github.com/exercism/website-icons/blob/master/tracks/logos/ceylon.png be changed to be such an elephant, matching https://github.com/exercism/website-icons/blob/master/tracks/logos/ceylon-t.png is. It would be very unfortunate if the tr

[2018-12-23 01:55] missmatsuko opened #21 "Different logos for JavaScript track throughout site"
I thought the track icons were determined within the track repos, but I guess this is the correct repo for it.

I noticed the logo/icon for the JavaScript track is different throughout the site.
https://exercism.io/tracks uses "JS" logo
https://exercism.io/my/tracks uses "ES" logo (need to be logged in to see)
https://exercism.io/tracks/javascript uses "JS" logo
https://exercism.io/#explore-langua

[2018-12-30 21:29] fidelcoria opened #22 "Glyph for new exercise: satellite"
Howdy folks,

There is an open PR [#1424](https://github.com/exercism/problem-specifications/pull/1424) in `problem-specifications` for a new exercise named retree. Please create a new glyph for it.

~ Thank you kindly

[2019-01-07 13:30] iHiD commented on #22
@nicolechalmers Could you take a look at this please.

[2019-01-07 13:31] iHiD commented on #21
Could you clear your cache on desktop and validate that the ES one still appears in places like https://exercism.io/#explore-languages pls?

[2019-01-07 13:32] iHiD commented on #21
That can be deleted. @kytrinyx is this something we could script across tracks?

[2019-01-08 06:00] missmatsuko commented on #21
@iHiD Still see the ES6 one on https://exercism.io/#explore-languages desktop

[2019-01-09 14:09] ErikSchierboom opened #23 "Glyph for new exercise: dnd-character"
The `dnd-character` exercise could use some glyphs :)

[2019-01-09 14:51] iHiD commented on #23
@nicolechalmers Could you sort this pls? :)

[2019-02-01 19:52] nicolechalmers commented on #23
I'll see what I can do!
@iHiD Where do I find an overview of what the Exercise is about so I can choose something relevant? It's been a while since I've needed to navigate to those files.

[2019-02-01 19:54] nicolechalmers commented on #11
@iHiD Do you need anything from me for the Prolog one?

[2019-02-01 19:54] iHiD commented on #23
Problem specifications is your best bet. The path to the description file for this is: https://github.com/exercism/problem-specifications/blob/master/exercises/dnd-character/description.md

[2019-02-01 19:55] iHiD commented on #23
A multi-sided dice is probably best. Maybe something like [this](https://thenounproject.com/search/?q=dungeons-and-dragons&i=20125)

[2019-02-01 20:15] nicolechalmers commented on #22
Hey @fidelcoria,

Would either of these work (ignore colours and styling for now)?

<img width="361" alt="screen shot 2019-02-01 at 12 12 24" src="https://user-images.githubusercontent.com/5421823/52147191-c81f2400-261a-11e9-8bc3-f8d68c45bf06.png">
<img width="303" alt="screen shot 2019-02-01 at 12 12 27" src="https://user-images.githubusercontent.com/5421823/52147192-c8b7ba80-261a-11e9-9ca1-f85b9

[2019-02-01 20:20] iHiD commented on #22
@fidelcoria Also see my comment about renaming the exercise to Satellite (I think we should have this sort of satallite icon whether we rename it or not)

[2019-02-03 03:40] fidelcoria commented on #22
Yeah, the first one makes sense for the exercise "story."
How about a solid dish? (I know it's just styling)

[2019-02-13 23:17] F3PiX opened #24 "Icon for Resistor Band"
@erikschierboom and I created a new Exercise, Resistor Code.
Can we request a new icon?

For inspiration: It's part of a series of Resistor Exercises, where each exercise will address more bands. In this first exercise it's about 1 'band', the rest of the series will be 2,3 and 4-6 bands. (And maybe after that: resistors in paralel and series.)
https://user-images.githubusercontent.com/6314687/525

[2019-02-14 07:17] ErikSchierboom commented on #23
@nicolechalmers I know you are very busy, but I was wondering what your thoughts are on my comment above.

[2019-02-14 22:18] iHiD commented on #23
I know @nicolechalmers was doing that (I sneaked a peak over her shoulder) but I don't think it got finished, or if it did, not uploaded here :)

[2019-02-15 08:00] ErikSchierboom commented on #23
Sounds good :)

[2019-03-01 07:45] bencoman commented on #24
Slightly off topic but a naive question about...

By "series" of exercises do you mean separate folders...
   https://github.com/exercism/problem-specifications/.../exercises/HERE

why not just a one exercise with a series of tests ordered in increasing difficulty?

[2019-03-08 17:55] F3PiX opened #25 "Icon for Resistor Colors"
Number 2 in the Resistor is merged!
Can we have another Resistor icon please? (There's an issue for # 1: #24)

The difference is: number 1 is about 1 color
Number 2 is about 2 colors.
And, yeah, number 3 will be about 3 colors.

#24 has an image of what those colors look like on a Resistor.

Thanks! :-)

[2019-03-13 08:25] sshine commented on #23
Either way is good with me; numbers or not. :-)

[2019-03-13 09:54] sshine commented on #22
Before merging this icon, could it be named "sattelite" instead of "retree"?

Decision made in #1451 and rename requested in #1478.

[2019-03-26 18:41] SleeplessByte commented on #24
![image](https://user-images.githubusercontent.com/1964376/55024443-25be6400-4fff-11e9-8ddb-28f7f012ab64.png)

Note that this is also live in `javascript`.

[2019-03-26 18:42] SleeplessByte commented on #24
@bencoman best to ask this in `problem-specifications`, or better yet slack!

[2019-04-01 09:56] iHiD commented on #9
Cc @nicolechalmers

[2019-04-01 12:55] nicolechalmers commented on #9
@iHiD Here you go.

Dark:
![pharo-dark](https://user-images.githubusercontent.com/5421823/55329078-af4db600-5485-11e9-915e-43e0b54b390d.png)
Turquoise/green:
![pharo-t](https://user-images.githubusercontent.com/5421823/55329079-af4db600-5485-11e9-9047-5f68a5a19c0c.png)
White:
![pharo-white](https://user-images.githubusercontent.com/5421823/55329080-afe64c80-5485-11e9-9134-45f91d6913b6.png)

[2019-04-01 14:53] iHiD commented on #9
This is done. Thanks all.

[2019-04-01 14:53] #9 closed

[2019-04-01 14:54] nicolechalmers commented on #23
@ErikSchierboom It's taken me a while to get around to it (sorry!) but I have a designed a die with numbers on it. Would something like this work?

![dnd-character-dark](https://user-images.githubusercontent.com/5421823/55337272-3e62ca00-5496-11e9-87b3-d82f6a47d2e1.png)
![dnd-character-turquoise](https://user-images.githubusercontent.com/5421823/55337273-3e62ca00-5496-11e9-984f-6522bf1dfe31.png)
!

[2019-04-01 14:57] iHiD commented on #23
Done my end too. Thanks :)

[2019-04-01 14:57] #23 closed

[2019-04-01 15:10] ErikSchierboom commented on #23
Love it!

[2019-04-01 15:15] iHiD commented on #23
It's live now :)

[2019-04-01 15:27] nicolechalmers commented on #22
Sorry for the delay!

Here's a design that's a mixture of the two:

Grey:
![satellite-dark](https://user-images.githubusercontent.com/5421823/55339513-bdf29800-549a-11e9-8282-0de62dfc26ba.png)
Turquoise:
![satellite-turquoise](https://user-images.githubusercontent.com/5421823/55339514-bdf29800-549a-11e9-8d2c-73bc8a0b6c78.png)
White:
![satellite-white](https://user-images.githubusercontent.com/5421

[2019-04-01 15:30] iHiD commented on #22
Merging. Thanks @nicolechalmers

[2019-04-01 15:30] #22 closed

[2019-04-01 15:48] nicolechalmers commented on #24
@F3PiX @ErikSchierboom Hello :) Would something like this be ok?

![resistor-code-dark](https://user-images.githubusercontent.com/5421823/55341035-cdbfab80-549d-11e9-8cd4-d2e8fc46a48f.png)
![resistor-code-turquoise](https://user-images.githubusercontent.com/5421823/55341036-ce584200-549d-11e9-966b-50eb12abb06a.png)
![resistor-code-white](https://user-images.githubusercontent.com/5421823/55341037-c

[2019-04-01 15:50] ErikSchierboom commented on #24
Absolutely!

[2019-04-01 15:53] ErikSchierboom commented on #23
Check it out:

![image](https://user-images.githubusercontent.com/135246/55341473-fa2bf580-54a6-11e9-8a5c-fbffa92b4505.png)

Lovely icon @nicolechalmers!

[2019-04-01 15:55] F3PiX commented on #24
I love it!

[2019-04-01 15:56] nicolechalmers commented on #25
@F3PiX @ErikSchierboom Would something like this work or is it too simliar to #24 ? My thinking is we can an extra filled-in band for each new Resistor exercise.

![resistor-code-dark-colors](https://user-images.githubusercontent.com/5421823/55341470-97366080-549e-11e9-82dd-15e92f72bd01.png)
![resistor-code-turquoise-colors](https://user-images.githubusercontent.com/5421823/55341474-9998ba80-549e-

[2019-04-01 15:57] nicolechalmers commented on #23
Whoop!

[2019-04-01 15:58] F3PiX commented on #25
I noticed that opportunity on the first one :-)  Lovely!!!!!!

[2019-04-01 16:14] SleeplessByte commented on #25
:heart:

[2019-04-01 16:30] nicolechalmers commented on #25
Great! This is also good to go @iHiD

[2019-04-04 15:10] sshine opened #26 "Icon for Tcl language track"
As I've started to work on the [Tcl track](https://github.com/exercism/tcl), I hereby request a language track logo.

As concluded in exercism/request-new-language-track#49, this logo can be used as we need:

- https://tcl.tk/images/plume.png

[2019-04-04 15:44] iHiD commented on #26
(cc @nicolechalmers)

[2019-04-04 23:38] macta commented on #25
yeah - nice icon, we have this one live too and are in need of an icon

[2019-04-04 23:39] macta opened #27 "Pharo track icon is smaller than others"
@nicolechalmers the icon for the pharo track seems smaller than the others in the main page list.

![image](https://user-images.githubusercontent.com/5553623/55595345-b570ba80-5743-11e9-854c-d8c186f17985.png)

[2019-04-05 12:58] nicolechalmers commented on #27
@macta This should be fixed now. Thanks for flagging it up.

[2019-04-05 13:33] #27 closed

[2019-04-05 13:51] iHiD commented on #25
Merged and deployed as `resistor-color-duo`. Once tracks update their slugs this will work for them.

[2019-04-05 13:51] #25 closed

[2019-04-05 13:51] iHiD commented on #25
Thanks @nicolechalmers

[2019-04-22 10:59] ccouzens opened #29 "Icon for Micro-blog"
I'm creating a new Exercise, Micro-blog.
Can I request a new icon?

https://github.com/exercism/problem-specifications/pull/1509/files

The problem's story is about making a social network that only allows very short posts of 5 characters. A theme of the tests is both non-english characters and emoji.

posts. Now that Twitter allows 280 character posts, people wanting quick
social media updates ar

[2019-04-22 11:37] iHiD commented on #29
Awesome. Cool exercise idea too. Thanks.

cc @nicolechalmers

[2019-06-28 16:55] ErikSchierboom commented on #29
Any update on this icon? https://github.com/exercism/problem-specifications/pull/1509 is waiting for the icon before being merged (no pressure ;))

[2019-07-03 17:46] nicolechalmers commented on #29
@ccouzens @ErikSchierboom Hey, sorry it's taken me a while to get around to looking at this.
I've had a go at making a few designs based on Chris' ideas - thanks for those.

<img width="419" alt="Screen Shot 2019-07-03 at 18 37 51" src="https://user-images.githubusercontent.com/5421823/60613157-37639480-9dc2-11e9-8c5e-5fe2a1afc011.png">
<img width="433" alt="Screen Shot 2019-07-03 at 18 37 57" src

[2019-07-03 19:43] ccouzens commented on #29
Hi @nicolechalmers,

Thank you so much for these. They're all great!

I especially like the last one, because it looks the most fun to me and it still conveys the 5 characters.

Thanks,

Chris

[2019-07-04 06:36] ErikSchierboom commented on #29
I like the second and last one best. I'm fine with both of them, the both look great! Great work @nicolechalmers!

[2019-07-04 11:40] iHiD commented on #29
I really like the bottom one too, but it means "troubled" as is the equivalent of the "western" emoji 😣.

@nicolechalmers Would it be possible to change it to `(^_^)` which is the happy version?

[2019-07-04 12:31] nicolechalmers commented on #29
@iHiD Great shout. I've changed it to a happier looking face.
I've added the 3 colours I think are required below (one is white so you can't see it).

![micro-blog-dark](https://user-images.githubusercontent.com/5421823/60666758-b6f37100-9e5f-11e9-888c-2c181e943262.png)
![micro-blog-turquoise](https://user-images.githubusercontent.com/5421823/60666759-b78c0780-9e5f-11e9-9616-a5d9f5d86665.png)
![mi

[2019-07-05 13:51] sshine commented on #29
Since `micro-blog` focuses on Unicode, a variation could be one of the many Unicode table flipping emojis:

[code]

https://gist.github.com/endolith/157796

[2019-07-20 23:35] bergjohan opened #30 "Icon for x86-64 Assembly track"
Hello,

I would like to request an icon for the [x86-64 Assembly](https://github.com/exercism/x86-64-assembly) track.

There is no official/unofficial logo so I suggest just spelling out the name for the icon. Assembly could be abbreviated to asm if it's too long.

[2019-07-23 14:06] iHiD commented on #30
Thanks. Assigned to @nicolechalmers :)

[2019-07-24 12:12] F3PiX commented on #24
This is done, so I'm closing this.

[2019-07-24 12:12] #24 closed

[2019-07-24 12:16] F3PiX opened #31 "Icon for Resistor Color Trio"
The next exercise in the series is in the making.

This is number 3 in the series.
Number 1 is Resistor Color and is about one color band (icon: #24)
Number 2 is Resistor Color Duo and is about two bands (icon: #25)
Number 3, this one, is Resistor Color Trio, and yes! it has three bands 🙃 .

Can we have a logo please?

(The same icon as in #25, but with an extra band.)

[2019-07-27 14:01] ccouzens commented on #29
Shall we move ahead with these https://github.com/exercism/website-icons/issues/29#issuecomment-508465972

And then if `(ಠ‿ಠ)` comes available switch to them?

[2019-07-30 16:24] iHiD commented on #29
Yeah. I just need to find an hour to sort this and the other ones out. Sorry. It's on my radar.

[2019-08-02 15:03] glennj opened #32 "Icon for Knapsack exercise"
https://github.com/exercism/problem-specifications/tree/master/exercises/knapsack

This exercise is about maximizing the value of items that can fit into a knapsack, so an icon of a literal knapsack/backpack would be appropriate.

[2019-08-09 12:19] nicolechalmers commented on #32
Thank you for providing details @glennj

Would any of these icons work? If so, do you have a preference?

![knapsack-turquoise-1](https://user-images.githubusercontent.com/5421823/62778001-10763d80-baa7-11e9-8a7d-a65e276326bf.png)
![knapsack-turquoise-2](https://user-images.githubusercontent.com/5421823/62778002-110ed400-baa7-11e9-9419-bdcfc4cfc873.png)
![knapsack-turquoise-3](https://user-images.

[2019-08-09 12:23] iHiD commented on #32
I like https://user-images.githubusercontent.com/5421823/62778002-110ed400-baa7-11e9-9419-bdcfc4cfc873.png

[2019-08-09 12:35] nicolechalmers commented on #30
@bergjohan Would something like this work for the icon?

![assembly-icon](https://user-images.githubusercontent.com/5421823/62779160-4d8fff00-baaa-11e9-8534-d3f17248b073.png)

In hex (as shown on Track main page):
![assembly-hex](https://user-images.githubusercontent.com/5421823/62779159-4cf76880-baaa-11e9-8318-e20a1aaa913a.png)

[2019-08-09 13:11] nicolechalmers commented on #20
@petertseng Thanks for flagging this up. I agree, we need to change the [Ceylon](https://exercism.io/tracks/ceylon) logo to differentiate it from the [Nim](https://exercism.io/tracks/nim) one. I'm concerned though that an elephant Ceylon icon is too close the [PHP Track icon](https://exercism.io/tracks/php). I could perhaps change the PHP one. @kytrinyx @iHiD @petertseng I'd appreciate your though

[2019-08-09 13:39] nicolechalmers commented on #20
@iHiD Please replace the icon [here](https://github.com/exercism/website-icons/blob/master/tracks/logos/ceylon.png) with the one below.

ceylon-white:
![ceylon-w](https://user-images.githubusercontent.com/5421823/62783075-82548400-bab3-11e9-9946-aa5c08b78b77.png)

[2019-08-09 13:44] nicolechalmers commented on #21
@iHiD @missmatsuko Same for me on https://exercism.io/#explore-languages desktop

I see this:

<img width="381" alt="Screen Shot 2019-08-09 at 14 42 07" src="https://user-images.githubusercontent.com/5421823/62783343-1b839a80-bab4-11e9-874a-8ee14c85bca8.png">
<img width="351" alt="Screen Shot 2019-08-09 at 14 42 09" src="https://user-images.githubusercontent.com/5421823/62783344-1b839a80-bab4-11e9

[2019-08-09 13:52] nicolechalmers commented on #31
@F3PiX Here's number 3 in the series:

Turquoise
![resistor-code-colors-3-turquoise](https://user-images.githubusercontent.com/5421823/62783883-1e32bf80-bab5-11e9-8284-e2d737750da6.png)

White
![resistor-code-colors-3-white](https://user-images.githubusercontent.com/5421823/62783888-212db000-bab5-11e9-927a-c588834c74a9.png)

[2019-08-09 15:13] bergjohan commented on #30
@nicolechalmers Thank you, it looks great :)

[2019-08-20 11:14] imrehg commented on #31
Currently the icons for the Resistor Color Trio returns 403 errors
[code]

![Screenshot_2019-08-20_12-11-37](https://user-images.githubusercontent.com/38863/63342686-06282f00-c344-11e9-85b0-cd5cabee369f.png)

(the second from the right in the boxes)

[2019-08-20 12:00] iHiD commented on #31
Yeah. I've not done this yet.

[2019-08-20 12:08] F3PiX commented on #31
And I forgot to cheer! Thanks, @nicolechalmers !!

[2019-08-21 13:56] PatrickMcSweeny opened #33 "Icon for Macros exercise"
It appears the 'Macros' exercise is missing an icon.

![Screenshot from 2019-08-21 09-52-53](https://user-images.githubusercontent.com/1254212/63438157-dc314400-c3f9-11e9-8757-c20e845a27f4.png)

[2019-08-21 14:50] iHiD commented on #33
@PatrickMcSweeny Which track is this? Do you have a link to where it's defined please?

[2019-08-21 14:59] PatrickMcSweeny commented on #33
It's from the Rust track.

https://exercism.io/my/tracks/rust

[2019-08-21 16:06] iHiD commented on #33
@PatrickMcSweeny Thanks.

@nicolechalmers Description here: https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/description.md

[2019-08-21 16:09] PatrickMcSweeny commented on #33
@iHiD It looks like you linked to the description for the 'matrix' exercise. Macros isn't listed in the problem-specifications repo, but here is the readme for the Rust exercise:

https://github.com/exercism/rust/tree/master/exercises/macros

[2019-08-21 16:12] iHiD commented on #33
Ah. Thanks. Yes, this is why it doesn't have an icon - it's not an official exercise. Tracks need to tell us when they make unofficial ones and add them.

@nicolechalmers Let's chat about the icon because I have no idea what will work :)

[2019-09-02 22:52] iHiD commented on #21
I believe this is now fixed. Sorry it's taken me forever to get to.

@missmatsuko Could you please let me know if they see any old ones, or otherwise close the issue if you're satisfied it's fixed. Thanks.

[2019-09-03 00:58] missmatsuko commented on #21
Only see the "JS" version of the logo now. Thanks!

[2019-09-03 00:58] #21 closed

[2019-09-08 20:23] wolf99 opened #34 "Icon for square-root"
I'm creating a new exercise, square-root.
Can I request a new icon?

https://github.com/exercism/problem-specifications/pull/1582

The icon could be a simple radical symbol (the root sign) with the index of 2 (indicating square root rather than any other root) and a radicand (the number under the root sign) of x. Something similar to the symbol found on the related calculator key.

Thanks!

[2019-09-16 22:51] iHiD commented on #34
@nicolechalmers Could you do this one pls? :)

[2019-09-19 12:56] nicolechalmers commented on #33
@iHiD Are these ok?

White:
![macros](https://user-images.githubusercontent.com/5421823/65245684-f0458f80-dae4-11e9-8864-f80c0a34455b.png)

Turquoise:
![macros-t](https://user-images.githubusercontent.com/5421823/65245702-f89dca80-dae4-11e9-8694-c63d3ca2dfe2.png)

Grey/dark:
![marcos-d](https://user-images.githubusercontent.com/5421823/65245840-3e5a9300-dae5-11e9-9392-c9932547b11d.png)

[2019-09-19 13:14] nicolechalmers commented on #34
@wolf99 Thank you for the thorough explanation. :)

Will this design work for the icon?

Grey/dark:
![square-root-d](https://user-images.githubusercontent.com/5421823/65247069-a4e0b080-dae7-11e9-9b45-5b39e9fad047.png)
Turquoise:
![square-root-t](https://user-images.githubusercontent.com/5421823/65247070-a4e0b080-dae7-11e9-91a2-b6cbd2f9b0b6.png)
White:
![square-root](https://user-images.githubuserc

[2019-09-20 14:15] iHiD commented on #33
I'm uploading this now.

[2019-09-20 14:15] #33 closed

[2019-09-20 14:15] iHiD commented on #30
Closing this. Thanks both.

[2019-09-20 14:15] #30 closed

[2019-09-20 14:19] iHiD commented on #32
Uploading this now.

[2019-09-20 14:19] #32 closed

[2019-09-20 14:23] iHiD commented on #34
Thanks both. I've put this live.

[2019-09-20 14:23] #34 closed

[2019-09-20 14:31] iHiD commented on #29
This is now live. Sorry for the delay, and thanks all.

[2019-09-20 14:31] #29 closed

[2019-09-20 14:34] iHiD commented on #26
This should be live. Thanks all.

[2019-09-20 14:34] #26 closed

[2019-09-20 14:34] iHiD commented on #20
This should now be done. It may take 24hrs for Cloudfront caches to expire.

[2019-09-20 14:34] #20 closed

[2019-09-20 14:43] iHiD commented on #11
I'm going to leave this for now, until I have time to change the eyes to something else.

[2019-09-20 15:06] iHiD commented on #31
Done. Sorry for the delay and thanks y'all!

[2019-09-20 15:06] #31 closed

[2019-09-20 18:49] ccouzens commented on #29
Thank you @iHiD

For reference, here's the commit d9687ea6945bd6714ac6d2240f756a3bc5fda143

[2019-09-20 21:51] sshine commented on #26
Hooray! Thanks, @nicolechalmers and @ihid. :)

Ping @glennj!

[2019-09-21 17:23] wolf99 commented on #34
Thanks both!

[2019-09-23 02:37] PatrickMcSweeny opened #36 "Typo in macros icon filename"
The filenames for the macros icons are spelled 'marcos' instead of 'macros'.

Edit: it looks like this only true for the dark icon.

[2019-09-23 12:44] #36 closed

[2019-10-23 03:59] kotp commented on #1
Both of those links are broken.

[2019-10-25 07:31] Insti commented on #1
https://www.ruby-lang.org/en/about/logo/

[2020-06-30 22:08] biancapower opened #38 "Icon for Microwave is missing in Ruby track"
The Microwave icon is missing - the image linked to (https://assets.exercism.io/exercises/microwave-white.png) doesn't exist in this repo.

<img width="429" alt="Screen Shot 2020-07-01 at 8 04 24 am" src="https://user-images.githubusercontent.com/30207144/86181522-7e20d180-bb71-11ea-9b1b-37a820e95231.png">

<img width="584" alt="Screen Shot 2020-07-01 at 8 02 18 am" src="https://user-images.github

[2020-07-01 22:42] iHiD commented on #38
Thanks for this!

When people add exercises, they're supposed to tag here to get us to create an exercise, but that step seems to have been missed for this exercise :)

I'll get it sorted in the next few days.

[2021-01-28 15:53] ErikSchierboom opened #39 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:56] ErikSchierboom commented on #39
As of today, the default branch of this repository has been changed to main.

[2021-04-19 12:56] #39 closed

[2021-04-30 06:50] ErikSchierboom opened #49 "Automatically create issue for new exercise or key feature icons"
configlet will be hardcoding the allowed icons for exercises and key features. To ensure that configlet remains up to date, we should add a CI workflow that detects if a new icon was added and create an issue in the configlet repo accordingly (or even a PR!).

[2021-05-04 11:28] iHiD commented on #49
OK, cool. Nice idea. FYI, currently the key-features icons live in the website but we should change that.

[2021-05-07 13:04] iHiD opened #50 "This repo should auto-sync to S3 via GHA"

[2021-07-21 09:29] taiyab opened #69 "Run Key Feature icons through compression"
Might wanna compress and remove whitespace from key feature icon SVGs.

[2021-07-23 10:15] ee7 opened #73 "Icons for `dynamically-typed` and `statically-typed` are the same"
See:
- [key-features/dynamically-typed.svg](https://raw.githubusercontent.com/exercism/website-icons/673216e4365189c8532627087eee4dbcba94cceb/key-features/dynamically-typed.svg)
- [key-features/statically-typed.svg](https://raw.githubusercontent.com/exercism/website-icons/673216e4365189c8532627087eee4dbcba94cceb/key-features/statically-typed.svg)

Intended? (I don't mind if the answer is "yes" - i

[2021-07-23 10:26] iHiD commented on #73
@taiyab @ErikSchierboom Intentional?

[2021-07-23 10:44] taiyab commented on #73
@iHiD Yes. Brain could not come up with anything for now.

[2021-07-23 10:48] ee7 commented on #73
I'm glad that I'm not the one who has to think of the icons here...

Wrong answers only:
A thermometer reading −273.15 °C on one, and jelly on the other.

[2021-07-23 14:51] ee7 commented on #73
If the intention is to tweak these icon(s) eventually, can we leave this issue open? Even if it's low priority, other people might wonder the same thing.

[2021-07-30 12:40] gypsydave5 opened #75 "Icon for "Die" is missing from the Pharo track"
Heya!

There's no icon for the Die exercise on the [Pharo track](https://exercism.io/my/tracks/pharo-smalltalk) - first "Extra" exercise.

Probably needs to be a picture of a single die (exercise isn't as morbid as it sounds).

[2021-07-30 12:46] iHiD commented on #75
Ha. Thanks! :)

All the exercises are being redone for the launch of v3. @taiyab can you check this is on your list for those pls.

[2021-07-31 17:11] taiyab commented on #75
It's available here: https://github.com/exercism/website-icons/blob/main/exercises/die.svg

So not quite sure what's going on @iHiD

[2021-07-31 17:12] iHiD commented on #75
@taiyab: @gypsydave5 is talking about it missing in v2. If it's already in v3, that's great :)

[2021-08-30 05:45] jiegillet commented on #73
Dynamically typed: Swiss Army knife
Statically typed: Puzzle pieces or lego block tower

[2021-08-30 10:55] taiyab commented on #73
@jiegillet Rgoer roger.

[2021-09-01 11:01] junedev opened #85 "Remove duplicated icons"
elyses-enchantments.svg, elyses-analytic-enchantments.svg and elyses-transformative-enchantments.svg are the same, maybe the same for others (?). There should only be one svg file and then that one should be referenced from the config using the `icon` key.

[2021-09-07 09:42] Bajger opened #89 "Icon for Pharo track looks wierd and different than original Pharo icon"
Hi Exercism team!
I'm not designer, but current Pharo track icon looks quite different than what can be seen on pharo-project.org. It looks it is somehow autogenerated (probably caused by limited time of original maintainers). I tried to resolve this using Incscape and tried to simplify (colors and shapes) original Pharo icon that would fit to Exercism website. I will create PR to paste updated SV

[2021-09-07 17:16] iHiD commented on #89
@Bajger Hi, thanks for this and the PR 🙂

A couple of comments on it:
- The lighthouse looks great.
- It's become a lot less "sketchy". The icon on the website has the sketchy feel that the one on Exercism has - the new one has that removed.

e.g. these look almost identical to me
<img width="175" alt="Screenshot 2021-09-07 at 18 14 34" src="https://user-images.githubusercontent.com/286476/1323849

[2021-09-08 05:54] Bajger commented on #89
Hi @iHiD and @taiyab !
Originally my understanding was to produce icon for Exercism more simplistic way (just with basic shapes and colors) and that was main reason, why I replaced "telescope view" part of icon with just simplified shape. Anyway: if you need just official SVG icon of Pharo project, it is available on Pharo website: https://files.pharo.org/media/logo/Pharo%20Logo%20SVG/Pharo_Icon_v

[2021-09-21 14:31] Bajger commented on #89
@iHiD Hi! Added new version of Pharo track icon with official SVG icon of Pharo project. I hope it is ok now.

[2021-09-21 15:43] iHiD commented on #89
@Bajger Thanks.
@taiyab Can you check this over pls? :)

[2021-10-06 11:50] larshp opened #93 "Add icon for ABAP track"
Hi,
Add icon for ABAP track: https://github.com/exercism/abap

For ABAP there are no official or unofficial logos. I suggest making a logo that just says "ABAP", in some shade of blue.

[2021-10-12 07:22] Bajger commented on #89
@iHiD Sorry for pinging again (I know this isn't really important PR, but it seems like heartbeat stopped on this...), Any thoughts on pushing review forward? Thanks in advance!

[2021-10-20 14:08] jiegillet opened #94 "Add Icon for Elixir `new-passport` concept exercise"
@iHiD @taiyab
Elixir has a new [concept exercise here](https://exercism.org/tracks/elixir/exercises/new-passport) which needs an icon.
The story is about getting a new passport from the city office, so my suggestion would be a... passport. Yes, indeed.

There has been talk of forking that exercise, so possibly it will be used by other tracks.

[2021-12-11 19:07] tinubaby opened #97 "Icon is missing in "TOP SECRET" learning excercise."
A default icon is displayed with the "top secret" learning excercise, found in https://exercism.org/tracks/elixir/exercises/top-secret .
In https://github.com/exercism/website-icons/tree/main/exercises  svg file is missing.

[2021-12-13 19:33] junedev opened #98 "Missing exercise icons in the Go track"
The Go track is missing a couple of icons.

- [ ] [`sorting-room`](https://github.com/exercism/go/blob/main/exercises/concept/sorting-room/.docs/instructions.md) - the exercise is about sorting boxes with numbers inside
- [ ] [`census`](https://github.com/exercism/go/blob/main/exercises/concept/census/.docs/instructions.md) - about people filling out questionnaires and sometimes not provided all r

[2021-12-13 19:37] junedev opened #99 "Add icon for "Census""
The Go track is missing an icon for the Census exercise. It is about people filling out questionnaires and sometimes not answering all requires questions.

Instructions for reference: https://github.com/exercism/go/blob/main/exercises/concept/census/.docs/instructions.md

[2021-12-13 19:38] #99 closed

[2021-12-14 15:32] iHiD commented on #97
@taiyab

[2022-01-03 13:14] taiyab commented on #94
@iHiD https://github.com/exercism/website-icons/pull/100

[2022-01-04 12:24] #94 closed

[2022-01-04 12:24] iHiD commented on #94
Thanks!

[2022-02-15 14:31] ErikSchierboom opened #105 "Add icon for wasm track"
See https://github.com/exercism/wasm

[2022-02-15 14:32] ErikSchierboom opened #106 "Add icon for research_experiment_1 track"
See https://github.com/exercism/research_experiment_1

[2022-02-15 14:32] ErikSchierboom commented on #93
Closed by https://github.com/exercism/website-icons/pull/101

[2022-02-16 14:28] iHiD commented on #105
@ErikSchierboom  - any thoughts on what the icon should be?

[2022-02-16 14:41] taiyab commented on #105
@ErikSchierboom @iHiD https://github.com/exercism/website-icons/pull/107

[2022-02-16 14:48] iHiD commented on #105
Great! :)

[2022-02-16 15:06] ErikSchierboom commented on #105
Closed by #107

[2022-02-16 15:06] #105 closed

[2022-02-17 07:37] ErikSchierboom commented on #106
Closed by #108

[2022-02-17 07:37] #106 closed

[2022-04-10 15:17] angelikatyborska opened #112 "Icon for Elixir learning exercise "dancing dots""
Exercise: https://exercism.org/tracks/elixir/exercises/dancing-dots

The story is about making generative art that's just dots. Anything that's a few different scattered circles would work as an icon.

[2022-04-26 18:13] #98 closed

[2022-05-30 16:30] andrerfcsantos opened #115 "Icon for new Go exercise: Meteorology"
Exercise link: https://exercism.org/tracks/go/exercises/meteorology

The exercise is about printing and formatting mereological data. I had in mind something like [weather-forecast.svg](https://github.com/exercism/website-icons/blob/main/exercises/weather-forecast.svg), but with more elements like wind and rain.

[2022-06-14 19:41] rlmark opened #116 "Add Unison Icon for forthcoming Unison track"
Does the language have an official logo? Yes:

Here's an SVG link to our logo:
https://www.unison-lang.org/assets/icon-unison-mark.svg

The copyright is "Unison Computing, all rights reserved" and we are giving permission for Exercism to use the logo on your site, for the purposes of identifying the Unison language track. If you need an official statement from our CEO to that effect, we can get on

[2022-06-16 20:10] glennj opened #117 "track icon for AWK"
Does not have an official logo.

Unofficially, an auk appears:
- on the cover of [the original AWK book](https://www.amazon.com/dp/020107981X)
- on the cover of [the O'Reilly book](https://www.amazon.com/dp/1491904615)

Those two also appear here: https://icons-for-free.com/?s=awk

Thank you!

[2022-06-18 19:45] rlmark commented on #116
We have a hex icon if that is of interest! The Unison mark can look a bit lopsided if you use the exact middle of the hex element. I've attached it as a SVG here!

![Asset 1](https://user-images.githubusercontent.com/7613551/174454983-95e81aa6-74e3-4d8b-9eb0-9b04f86ea230.svg)

[2022-06-18 21:00] iHiD commented on #116
Thanks! I think we'll use the one @taiyab did so it's consistent with the others:
[code]

@ErikSchierboom will sort this and the AWK one on Tues :)

[2022-06-22 06:16] #117 closed

[2022-06-22 06:17] #116 closed

[2022-07-14 17:26] KTSnowy opened #120 "Add icon for the COBOL track"
Here: https://github.com/exercism/cobol

- _**Does the language have an official logo?**_
COBOL itself doesn't have an official logo.

- _**Does the language have an unofficial logo?**_
It also doesn't have an unofficial logo but when talking about it on websites or articles it's usually styled as "COBOL", all uppercase with a blue color.

A suitable logo for it on Exercism would be like the [SML]

[2022-07-28 13:06] #120 closed

[2022-08-05 02:28] #38 closed

[2022-08-13 07:03] marianfoo opened #123 "Icon for new ABAP Exercise: ITAB Basics"
Link https://exercism.org/tracks/abap/exercises/itab-basics

This exercise is one of four new exercises created by SAP to demonstrate the use of internal tables and their functions.
- https://github.com/exercism/website-icons/issues/123
- https://github.com/exercism/website-icons/issues/124
- https://github.com/exercism/website-icons/issues/125
- https://github.com/exercism/website-icons/issues/12

[2022-08-13 07:04] marianfoo opened #124 "Icon for new ABAP Exercise: ITAB Combination"
Link https://exercism.org/tracks/abap/exercises/itab-combination

This exercise is one of four new exercises created by SAP to demonstrate the use of internal tables and their functions.
- https://github.com/exercism/website-icons/issues/123
- https://github.com/exercism/website-icons/issues/124
- https://github.com/exercism/website-icons/issues/125
- https://github.com/exercism/website-icons/issu

[2022-08-13 07:04] marianfoo opened #125 "Icon for new ABAP Exercise: ITAB Aggregation"
Link https://exercism.org/tracks/abap/exercises/itab-aggregation

This exercise is one of four new exercises created by SAP to demonstrate the use of internal tables and their functions.
- https://github.com/exercism/website-icons/issues/123
- https://github.com/exercism/website-icons/issues/124
- https://github.com/exercism/website-icons/issues/125
- https://github.com/exercism/website-icons/issu

[2022-08-13 07:04] marianfoo opened #126 "Icon for new ABAP Exercise: ITAB Nesting"
Link https://exercism.org/tracks/abap/exercises/itab-nesting

This exercise is one of four new exercises created by SAP to demonstrate the use of internal tables and their functions.
- https://github.com/exercism/website-icons/issues/123
- https://github.com/exercism/website-icons/issues/124
- https://github.com/exercism/website-icons/issues/125
- https://github.com/exercism/website-icons/issues/1

[2022-08-25 13:11] taiyab commented on #112
@ErikSchierboom Don't have my local setup yet (installing now), could you PR this for me?

![dancing-dots](https://user-images.githubusercontent.com/5337876/186673893-f55c7e3f-e52b-4696-8dd0-6d76df8cf312.svg)

[2022-08-26 07:25] ErikSchierboom commented on #112
@taiyab Yep, sure

[2022-08-26 07:30] ErikSchierboom commented on #112
PR submitted: 127

[2022-09-07 15:59] taiyab commented on #126
@ErikSchierboom Could you PR these for me? Local setup is still bugging me out.

Thanks.

![itab-nesting](https://user-images.githubusercontent.com/5337876/188924857-840d9e90-00f8-49c1-b897-8838c0656839.svg)
![itab-combination](https://user-images.githubusercontent.com/5337876/188924853-fca15e1c-2d80-460f-b0c1-0f4fd1f6c659.svg)

![itab-basics](https://user-images.githubusercontent.com/5337876/1889

[2022-09-07 16:24] iHiD commented on #126
Great. Thanks @taiyab. Erik's off so I've done it #128.

[2022-09-07 16:24] #126 closed

[2022-09-07 16:25] iHiD commented on #126
All done - they look fantastic. Thanks!

https://exercism.org/tracks/abap/exercises?criteria=itab

[2022-10-25 21:33] glennj opened #129 "track icon for jq"
The [exercism/jq](/exercism/jq) track is close to being ready.

The icon on [the website](https://stedolan.github.io/jq/) is https://stedolan.github.io/jq/jq.png

The website mentions that `jq` is licensed by [CC-BY-3.0](https://creativecommons.org/licenses/by/3.0/) -- would that apply to the image as well?

[2022-10-26 17:36] bau-mann opened #130 "Add Icon for Exercise "state-of-tic-tac-toe""
Problem Specification: https://github.com/exercism/problem-specifications/tree/main/exercises/state-of-tic-tac-toe
Implemented in tracks:
- ABAP
- Go
- Elixir

[2022-10-26 17:45] larshp commented on #123
this is done, can be closed

[2022-10-26 17:45] larshp commented on #124
this is done, can be closed

[2022-10-26 17:45] larshp commented on #125
this is done, can be closed

[2022-10-27 18:40] lucaferranti opened #131 "Track icon for Chapel"
The [Chapel track](https://github.com/exercism/chapel) is proceeding fast forwards and approaching launch. Would be great to get a icon for it.

Chapel has an official logo, which can be found [here](https://chapel-lang.org/logo.html) (the first). Necessary attributions of the logo are described on the same page and also [here](https://github.com/chapel-lang/chapel/blob/main/CONTRIBUTORS.md#logo-d

[2022-10-30 23:27] habere-et-dispertire opened #132 "[Bottle Song] New icon needed"
The [PR](https://github.com/exercism/problem-specifications/pull/2097).

Thank you !

:-)

[2022-11-02 09:18] #132 closed

[2022-11-04 06:45] marianfoo commented on #125
Thank you for the icons!

[2022-11-04 06:45] #125 closed

[2022-11-04 06:45] marianfoo commented on #123
Thank you for the icons!

[2022-11-04 06:45] #123 closed

[2022-11-04 06:45] marianfoo commented on #124
Thank you for the icons!

[2022-11-04 06:45] #124 closed

[2022-11-04 21:37] #112 closed